
.center_div {
    margin: 0 auto;
    width: 80%;
}

a {
    color: #f85c37;
}

a:hover, a:focus {
    color: #7b7b7b;
    text-decoration: none;
    outline: 0;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.navbar {
    font-weight: 900;
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.navbar-inverse {
    background: #2d2d2d;
    border-color: #2d2d2d;
}

.card {
    margin-top: 14rem;
    width: 30rem;
    height: 20rem;
}

.card-body {
    margin-top: 2rem;
}

.invisible-circle-label {
    cursor: pointer;
    visibility: hidden;
}

table{
    width: 100%;
}

table td{
    height: 1rem;
}

table td label{
    display: block;
    height: 100%;
}

.table-container label{
    width: 100%;
    cursor: pointer;
}

.table-container input:checked + label{
    background: rgba(0, 0, 0, 0.075);
}
.table-container {
    height: 500px;
    overflow: auto;
}

#leftSlide{
    position: fixed;
    background: #999;
    width: 300px;
    left: -300px;
    height: 500px;
    transition: left 0.4s ease-in-out;
    -o-transition: left 0.4s ease-in-out;
    -ms-transition: left 0.4s ease-in-out;
    -moz-transition: left 0.4s ease-in-out;
    -webkit-transition: left 0.4s ease-in-out;
}
#leftToggle{
    position: absolute;
    left: 300px;
    padding: 10px;
    background: #ccc;
}
.box {
    padding: 20px;
}
#leftSlide:hover{
    left: 0px;
}

#rightSlide{
    position: fixed;
    background: #999;
    width: 300px;
    right: -300px;
    height: 500px;
    transition: right 0.4s ease-in-out;
    -o-transition: right 0.4s ease-in-out;
    -ms-transition: right 0.4s ease-in-out;
    -moz-transition: right 0.4s ease-in-out;
    -webkit-transition: right 0.4s ease-in-out;
}
#rightToggle{
    position: absolute;
    right: 300px;
    padding: 10px;
    background: #ccc;
}

#rightSlide:hover{
    right: 0px;
}

.noneDisplay{
    display: none;
}

.holder{
    position:relative;
}
.block{
    position:absolute;
    left:0;
    bottom:0;
    right:0;
    top:0;
    background:rgba(255,255,255, 0.7);
    padding:5px;
    display:none;
}
.holder:hover .block{
    display:block;
}