/*
отрисовка формы для элементы с авторизацией и логином....
задает отступ от верхней границы... ширину и высоту
*/
.card {
    background: #222831;
    margin-top: 14rem;
    width: 30rem;
    height: 20rem;
}

/*
задает отступ для тела формы
*/

.card-body {
    margin-top: 2rem;
}