.navbar {
    font-weight: 900;
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.navbar-inverse {
    background: #2d2d2d;
    border-color: #2d2d2d;
}

.above-table{
    margin-left: 37rem;
}