/*
задает красный цвет для ссылки
*/
a {
    color: #00ADB5;
}

body{
    background-color: #393E46;
    color: white;
}



button, input[type="submit"]{
    color: #00ADB5 !important;
    background-image: none;
    background-color: transparent;
    border-color: #00ADB5 !important;
}

/*
убираем идиотские эффекты для ссылок при наведении
*/

a:hover, a:focus {
    color: #7b7b7b;
    text-decoration: none;
    outline: 0;
}

/*
изменяем горизонтальную линию... используется в регистрации и логине
*/
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
делаем чекбокс невидимым... что бы потом можно было нажимать на label и нажимался чекбокс
*/
.invisible-circle-label {
    cursor: pointer;
    visibility: hidden;
}

/*
неотрисовывать элемент
*/
.noneDisplay{
    display: none;
}

/*
отрисовывать элемент
*/
.displayElement{
    display: block;
}


.block{
    position:absolute;
    left:0;
    bottom:0;
    right:0;
    top:0;
    background:rgba(255,255,255, 1);
    padding:5px;
    display:none;
}

/*
задает большой размер шрифта для надписи Add task
*/
.bigFont{
    font-size: 2rem;
}


/*
переписанный класс row из bootstrap... в оригинальном были отступы.. которые ломали нашу страничкуююю пришлось сделать так же но без отступов
*/
.custom-row{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}


/*
переписанный класс form-control из bootstrap который делает input красивым... этот класс используется для того что бы делать поле красным при неправильном вводе
*/
.error-form-control {
    display: block;
    width: 100%;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    line-height: 1.25;
    color: #464a4c;
    background-color: #fff;
    background-image: none;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid red;
    border-radius: 0.25rem;
    -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
}
/*
дополнение к предыдущему классу тоже для красивостей
*/
.error-form-control:focus{
    border: 1px solid rgba(0, 0, 0, 0.15);
}

#hiddenErrorMessage {
    -webkit-animation: cssAnimation 5s forwards;
    animation: cssAnimation 5s forwards;
}
@keyframes cssAnimation {
    0%   {opacity: 1;}
    90%  {opacity: 1;}
    100% {opacity: 0;}
}
@-webkit-keyframes cssAnimation {
    0%   {opacity: 1;}
    90%  {opacity: 1;}
    100% {opacity: 0;}
}