/* Стили для неактивного модального окна */
.modalWindow {
    background: #fff;
    left: 40%;
    margin: -250px 0 0 -40%;
    position: absolute;
    top: -70%;
    width: 30%;
    border-radius: 5px;
    box-shadow: 0 3px 7px rgba(0,0,0,.25);
    -moz-box-shadow: 0 3px 7px rgba(0,0,0,.25);
    -webkit-box-shadow: 0 3px 7px rgba(0,0,0,.25);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}


/* Активация модального окна в состоянии :target */
.modalWindow:target {
    top: 70%;
    transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
}


/*
стиили для заголовка модального окна
*/
.modalWindow header, .modalWindow footer {
    background: #f7f7f7;
    border-bottom: 1px solid #e7e7e7;
    border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
}

/*
тоже самое для подвала
*/
.modalWindow footer {
    border:none;
    border-top: 1px solid #e7e7e7;
    border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
}

/*
установка отступов для каждого их элементов модального окна
*/
.modalWindow section, .modalWindow header, .modalWindow footer {
    padding: 15px;
    z-index: 200;
}

/*
отступы для заголовка второго уровня
*/
.modalWindow h2 {
    margin: 0;
}


/*
стиили для начального положения модального окна изначального окно просто находиться сверху за пределами страницы
*/
.modalDescription {
   visibility: hidden;
   position: absolute;
}

/*
стиили для конечного положения окна... когда мы переходим по специальной ссылке для модального окна
*/
.modalDescription:target {
    visibility: visible;
    position: relative;
}

/*
класс для выдвижения модального окошка
*/

.jsModalWindow {
    background: #fff;
    left: 50%;
    margin: -250px 0 0 -40%;
    position: absolute;
    top: 70%;
    width: 80%;
    border-radius: 5px;
    box-shadow: 0 3px 7px rgba(0,0,0,.25);
    -moz-box-shadow: 0 3px 7px rgba(0,0,0,.25);
    -webkit-box-shadow: 0 3px 7px rgba(0,0,0,.25);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
