table{
    width: 100%;
}

table td{
    height: 1rem;
}

table td label{
    display: block;
    height: 100%;
}

.table-container label{
    width: 100%;
    cursor: pointer;
}

.table-container input:checked + label{
    background: rgba(0, 0, 0, 0.075);
}
.table-container {
    height: 500px;
    overflow: auto;
}

th {
    text-align: center;
}